*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/sonarlint/*
.DS_Store
/build
/captures
.externalNativeBuild
google-services.json
/.idea/*
/.idea/sonarlint/issuestore/*
/.idea/sonarlint/*
/.idea/misc.xml
/.idea/sonarlint/issuestore/index.pb
